@import '~sanitize.css';
@import '~sanitize.css/forms.css';
@import '~sanitize.css/typography.css';

body {
  background-color: $bg-primary;
  font-family: $ft-family;
  font-size: $fs-base-size;

  @include devices(mobile) {
    // font-size: 1rem;
  }
}

a {
  color: $clr-links;
  text-decoration: none;
  outline: 0;
  cursor: pointer;

  &:hover {
    color: lighten($clr-links, 20%);
  }
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

button {
  background-color:transparent; 
  color: inherit; 
  border-width: 0; 
  padding: 0; 
  cursor: pointer;
}

figure { 
  margin: 0;
}

input::-moz-focus-inner {
  border: 0; 
  padding: 0; 
  margin: 0;
}

ul, ol, dd {
  margin: 0; 
  padding: 0; 
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; 
  font-size: inherit; 
  font-weight: inherit;
}

p {
  margin: 0;
}
