@import '~sanitize.css';
@import '~sanitize.css/forms.css';
@import '~sanitize.css/typography.css';

html,
body {
  height: 100%;
}

body {
  font-size: $fs-base-size;
  font-family: $ft-family;
  background-color: $bg-primary;

  #app {
    height: 100%;
  }

  @include devices(mobile) {
    // font-size: 1rem;
  }
}

a {
  color: $clr-links;
  text-decoration: none;
  outline: 0;
  cursor: pointer;

  &:hover {
    color: lighten($clr-links, 20%);
  }
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

button {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border-width: 0;
  cursor: pointer;
}

figure {
  margin: 0;
}

input::-moz-focus-inner {
  margin: 0;
  padding: 0;
  border: 0;
}

ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

p {
  margin: 0;
}
