.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include devices(mobile) {
    margin: 0 10%;
  }

  @include devices(tablet) {
    margin: 0%;
  }
}

.image_container {
  text-align: center;

  @include devices(mobile) {
    margin: 0 30px;
  }

  @include devices(tablet) {
    padding: 0;
  }
}

.image {
  margin-top: 50px;

  @include devices(mobile) {
    width: 100%;
  }

  @include devices(tablet) {
    width: 370px;
  }
}

.spinner {
  & > div {
    margin-top: -100px;
  }
}
